<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Divergence SMP</title>
        <meta charset="utf-8">
        <meta name="title" content="Divergence SMP">
        <meta name="description" content="The Divergence SMP official website.">
        <meta name="keywords" content="Divergence SMP, Divergence, SMP, Minecraft, SMP Minecraft, SMP Server, SMP Minecraft Server, SMP Server Minecraft, SMP Minecraft Server, SMP Minecraft Server">
        <meta name="author" content="Divergence SMP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://kit.fontawesome.com/a644ebccdd.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Place Navbar.html -->
        <div id="navbar"></div>
        <script>
            $(function(){
              $("#navbar").load("/navbar.html");
            });
        </script>
    </body>
</html>